Download the **files**

In [0]:
from google.colab import files
uploaded = files.upload()

Saving sales_bi_exam.csv to sales_bi_exam.csv
Saving stores_bi_exam.csv to stores_bi_exam.csv

## Sales - see the variables

In [0]:
import pandas as pd
import io

df_sales = pd.read_csv(io.StringIO(uploaded['sales_bi_exam.csv'].decode('utf-8')))
df_sales.head()

     zip location       month  products  total  discount
0  01000  Store A  01/01/2018         1   2500         0
1  01000  Store A  01/01/2018         1   1800       300
2  01000  Store A  01/01/2018         2   3600       150
3  01000  Store A  01/01/2018         1   1800         0
4  01000  Store A  01/03/2018         1   1800         0

In [0]:
df_sales.describe()

           products         total      discount
count  12674.000000  12674.000000  12674.000000
mean       1.117485   2164.241755     84.397191
std        0.378969    968.280955     97.649341
min        1.000000    700.000000      0.000000
25%        1.000000   1800.000000      0.000000
50%        1.000000   1800.000000      0.000000
75%        1.000000   2300.000000    150.000000
max        3.000000  10000.000000    300.000000

🧹**  the files **

In [0]:
df_stores = pd.read_csv(io.StringIO(uploaded['stores_bi_exam.csv'].decode('utf-8')))
df_stores

  location    latitud   longitud
0  Store B  19.419919 -99.168557
1  Store A  19.430864 -99.192393

Libraries

In [0]:
df_distribution=df_sales.merge(df_stores, left_on='location', right_on='location')
df_distribution.head()

     zip location       month  products  total  discount    latitud   longitud
0  01000  Store A  01/01/2018         1   2500         0  19.430864 -99.192393
1  01000  Store A  01/01/2018         1   1800       300  19.430864 -99.192393
2  01000  Store A  01/01/2018         2   3600       150  19.430864 -99.192393
3  01000  Store A  01/01/2018         1   1800         0  19.430864 -99.192393
4  01000  Store A  01/03/2018         1   1800         0  19.430864 -99.192393

Create a net result variable based on total - discount

In [0]:
df_distribution['net']=df_distribution['total']- df_distribution['discount']

In [0]:
df_distribution.head()

     zip location       month  products  ...  discount    latitud   longitud   net
0  01000  Store A  01/01/2018         1  ...         0  19.430864 -99.192393  2500
1  01000  Store A  01/01/2018         1  ...       300  19.430864 -99.192393  1500
2  01000  Store A  01/01/2018         2  ...       150  19.430864 -99.192393  3450
3  01000  Store A  01/01/2018         1  ...         0  19.430864 -99.192393  1800
4  01000  Store A  01/03/2018         1  ...         0  19.430864 -99.192393  1800

[5 rows x 9 columns]

General descrition of the stores a/B

In [0]:
df_distribution.groupby('location')['products'].sum()

location
Store A    12170
Store B     1993
Name: products, dtype: int64

In [0]:
df_distribution.groupby('location')['discount'].sum()

location
Store A    919350
Store B    150300
Name: discount, dtype: int64

In [71]:
df_distribution.groupby('location')['total'].sum()

location
Store A    23576150
Store B     3853450
Name: total, dtype: int64

In [0]:
df_distribution.groupby('location')['net'].sum()

location
Store A    22656800
Store B     3703150
Name: net, dtype: int64

In [73]:
df_distribution.groupby('location')['zip'].nunique()

location
Store A    945
Store B    162
Name: zip, dtype: int64

In [74]:
df_distribution['zip'].nunique()

1002

In [0]:
dups_zip = df_distribution.pivot_table(index=['zip','location'], aggfunc='size')

In [79]:
dups_zip

zip    location
01000  Store A        7
01010  Store A        3
       Store B        4
01020  Store A       13
       Store B        5
                   ...
97305  Store A        2
98615  Store A        3
99020  Store A        2
x      Store A     2754
       Store B      613
Length: 1107, dtype: int64

In [80]:
dups_zip.to_csv('df_zip.csv')
files.download('df_zip.csv')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

User ZIP CODE ANALYSIS

In [0]:
!pip install pgeocode

Collecting pgeocode
  Downloading https://files.pythonhosted.org/packages/f4/1e/d35805c59f167751fccb3fc7093fb2e45ee1e9e4a057e5d74da926ef9518/pgeocode-0.2.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pgeocode) (1.17.5)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pgeocode) (2.21.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pgeocode) (0.25.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2.8)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->pgeocode) (1.12.0)
Installing collected packages: pgeocode
Successfully installed pgeocode-0.2.0

In [0]:
 import pgeocode

Testing user zip_code

In [0]:
nomi = pgeocode.Nominatim('mx')

In [0]:
result=nomi.query_postal_code('01000')

In [0]:
result.latitude
result.longitude

-99.2033

In [0]:
df_distribution['zip']

0        01000
1        01000
2        01000
3        01000
4        01000
         ...
12669        x
12670        x
12671        x
12672        x
12673        x
Name: zip, Length: 12674, dtype: object

In [0]:
clean_zip = df_distribution.loc[df_distribution.zip != 'x', ['zip','location','month','products','total','discount','latitud','longitud','net']]
clean_zip.head()

     zip location       month  products  ...  discount    latitud   longitud   net
0  01000  Store A  01/01/2018         1  ...         0  19.430864 -99.192393  2500
1  01000  Store A  01/01/2018         1  ...       300  19.430864 -99.192393  1500
2  01000  Store A  01/01/2018         2  ...       150  19.430864 -99.192393  3450
3  01000  Store A  01/01/2018         1  ...         0  19.430864 -99.192393  1800
4  01000  Store A  01/03/2018         1  ...         0  19.430864 -99.192393  1800

[5 rows x 9 columns]

In [0]:
vector=pd.DataFrame(columns=['user_lat','user_long','zip'])

In [0]:
i=0
for x in clean_zip['zip']:
   result=nomi.query_postal_code(x)
   user_lat=result.latitude 
   user_long=result.longitude
   vector['user_lat'].loc[i]=user_lat
   vector['user_long'].loc[i]=user_long
   vector['zip'].loc[i]=x
   i=i+1

In [0]:
df=pd.DataFrame()

In [0]:
df['lat_use']=vector.user_lat
df['long_use']=vector.user_long
df['zip']=vector.zip

In [0]:
user_zip=clean_zip.merge(df, left_on='zip', right_on='zip')

In [0]:
user_zip.head()

     zip location       month  products  ...   longitud   net  lat_use  long_use
0  01000  Store A  01/01/2018         1  ... -99.192393  2500  19.3587  -99.2033
1  01000  Store A  01/01/2018         1  ... -99.192393  2500  19.3587  -99.2033
2  01000  Store A  01/01/2018         1  ... -99.192393  2500  19.3587  -99.2033
3  01000  Store A  01/01/2018         1  ... -99.192393  2500  19.3587  -99.2033
4  01000  Store A  01/01/2018         1  ... -99.192393  2500  19.3587  -99.2033

[5 rows x 11 columns]

In [0]:
user_zip.describe()

           products         total  ...       lat_use      long_use
count  3.707917e+06  3.707917e+06  ...  3.699695e+06  3.699695e+06
mean   1.108603e+00  2.153354e+03  ...  1.943395e+01 -9.919144e+01
std    3.672728e-01  9.336499e+02  ...  1.146891e-01  2.036328e-01
min    1.000000e+00  7.000000e+02  ...  1.618620e+01 -1.169963e+02
25%    1.000000e+00  1.800000e+03  ...  1.943430e+01 -9.919330e+01
50%    1.000000e+00  1.800000e+03  ...  1.943430e+01 -9.919330e+01
75%    1.000000e+00  2.300000e+03  ...  1.943430e+01 -9.919330e+01
max    3.000000e+00  1.000000e+04  ...  3.261690e+01 -8.686099e+01

[8 rows x 8 columns]

In [69]:
user_zip.to_csv('df.csv')
files.download('df.csv')

----------------------------------------
Exception happened during processing of request from ('::ffff:127.0.0.1', 35328, 0, 0)
Traceback (most recent call last):
  File "/usr/lib/python3.6/socketserver.py", line 320, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.6/socketserver.py", line 351, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.6/socketserver.py", line 364, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.6/socketserver.py", line 724, in __init__
    self.handle()
  File "/usr/lib/python3.6/http/server.py", line 418, in handle
    self.handle_one_request()
  File "/usr/lib/python3.6/http/server.py", line 406, in handle_one_request
    method()
  File "/usr/lib/python3.6/http/server.py", line 639, in do_GET
    self.copyfile(f, self.wfile)
  File "/usr/lib/python3.6/http/server.py", line 800, in copyfile
    shutil.copyfileobj(source, outputfile)
  File "/usr/lib/python3.6/shutil.py", line 82, in copyfileobj
    fdst.write(buf)
  File "/usr/lib/python3.6/socketserver.py", line 803, in write
    self._sock.sendall(b)
ConnectionResetError: [Errno 104] Connection reset by peer
----------------------------------------